body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}

button {
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}

select,
button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.397);
}

select {
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.082);
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}
