body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}

button {
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}

select,
button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.397);
}

select {
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.082);
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}

.accordion-button {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;

  opacity: 0;
  animation: FadeIn 0.8s ease forwards;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FadeIn2 {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.submitCV {
  animation: FadeIn 1s ease forwards;
}

.WorkExInputFeld {
  background-color: rgba(128, 128, 128, 0.178);
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 0px;
  border-radius: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.SchoolEd {
  background-color: rgba(128, 128, 128, 0.178);
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 0px;
  border-radius: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.NameInfo {
  background-color: rgba(128, 128, 128, 0.178);
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 0px;
  border-radius: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fileButton {
  border: none;
}
.App h1 {
  margin: 30px;
}

.JobEntryEditField {
  background-color: rgba(128, 128, 128, 0.178);
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 5px;
  border-radius: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Individueller Container für jeden Job-Eintrag */
.JobEntryEdit {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px; /* Abstand zwischen den einzelnen Job-Einträgen */
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.deleteBtnEntry {
  padding: 10px;
  margin: 10px;
}

#SubmitWorkInfo {
  background-color: rgba(255, 255, 255, 0.76);
}

@media only screen and (max-width: 1280px) {
  .WorkExInputFeld,
  .SchoolEd,
  .NameInfo,
  .JobEntryEditField {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 730px) {
  .WorkExInputFeld,
  .SchoolEd,
  .NameInfo,
  .JobEntryEditField {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .WorkExInputFeld,
  .SchoolEd,
  .NameInfo,
  .JobEntryEditField {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.WorkExInputFeld,
.SchoolEd,
.NameInfo,
.JobEntryEditField {
  background-color: rgba(128, 128, 128, 0.178);
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.JobEntryEdit {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 20px 0;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.deleteBtnEntry {
  padding: 10px;
  margin: 10px;
}

#SubmitWorkInfo {
  background-color: rgba(255, 255, 255, 0.76);
}
